body{
text-align:center;
font-family: helvetica,sans-serif;

}
#headingNav ,#banner{ 
background-image: url(../imgs/the-flatiron-building.png);
}
#headingNav{
    background-position:80%;
    background-repeat: no-repeat;
}
li{
    list-style:none;
}
#footer {
    text-align:left;
    background-color:dimgray;
    -webkit-padding-start: 0px;
}   
#footer ul li{
    display:inline;  
}
